

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: #e64d7e;
    color: #FFF;
}

.main-header {
    background: #3eba81;
    border-top: #62cf9d 10px solid;
    height: 200px;
}

    .main-header__image {
        display: block;
        margin: 20px auto;
        margin-top: 40px;
        max-width: 100%;
        height: auto;
    }

.main-container {
    background: #cd7a0f;
    border-top: 10px solid #f5a031;
    padding: 20px 0;
}

    .main-container__image {
        max-width: 100%;
        height: auto;
    }

    .main-container h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .main-container p {
        font-size: 24px;
    }

    .main-container li {
        font-size: 18px;
        list-style-type: none;
    }

    .main-container li:before {
        content: "∞ ";
        margin-right: 5px;
    }

    .main-container__sign-up {
        background: #ffd8a5;
        padding: 10px;
    }

        .main-container__sign-up span {
            color: #010101;
        }

.main-footer {
    border-top: 10px solid #ee7098;
    padding-top: 30px;
    padding-bottom: 50px;
}

    .main-footer h2, .main-footer p {
        color: #FFF;
    }

    .main-footer__logos {
        padding-top: 60px;
        vertical-align: middle;
    }

    .main-footer__logos img {
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }

.form {
    margin: 15px 0;
    margin-bottom: 0px;
    width: 100%;
}

    .form input {
        font-size: 18px;
        color: #010101;
        padding: 15px;
        height: 50px;
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form .btn {
        background: #3eba81;
        color: #FFF;
        height: 50px;
        display: inline-block;
        width: 30%;
        margin-left: -5px;
        vertical-align: middle;
    }

    .form .btn:hover {
        background: #62cf9d;
    }
